@model IEnumerable<Fektavimasis.Models.ParticipantMen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameSurname)
        </th>
        <th></th>
    </tr>

    @*@Html.ListBoxFor()*@

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameSurname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParticipantMenId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ParticipantMenId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ParticipantMenId })
        </td>
    </tr>
}

</table>
