@model IEnumerable<Fektavimasis.Models.ViewModel.ParticipantsInfoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstParticipantNameSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondParticipantNameSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Piercing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Received)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Round)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstParticipantNameSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondParticipantNameSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Piercing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Received)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
